$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';
@import 'typography';

@import 'theme';

// MUST BE LAST
@import 'breakpoints';

body {
  background-color: $paper-white;
  line-height: 1.5;
}

td,
th {
  height: 60px;
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

div {
  clear: left;
  margin-left: 5%;
  width: 90%;
}

form {
  margin: 5px;

  &:hover {
    opacity: .8;
  }
}

.game-mgmt-button {
  float: left;
}

.game-setting {
  clear: both;
}

.game-section {
  margin-left: 0%;
  width: 100%;
}

.game-table {
  font-size: 1.5em;
  font-weight: bold;
}

.cell {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background: $board-hover-blue;
  }
}
