$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

@import 'colors';
@import 'typography';

@import 'theme';

// MUST BE LAST
@import 'breakpoints';

td,
th {
  height: 60px;
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

div {
  clear: left;
  margin-left: 5%;
  width: 90%;
}

form {
  margin: 5px;

  &:hover {
    opacity: .8;
  }
}

.game-mgmt-button {
  float: left;
}

.game-setting {
  clear: both;
}

.game-section {
  margin-left: 0%;
  width: 100%;
}

.game-table {
  font-size: 1.5em;
  font-weight: bold;
}

.cell {
  font-weight: bold;
  height: 33.333vw;
  text-align: center;
  vertical-align: middle;

// .container {
//   width: 50%;
//   margin: auto 25%;
// }

// article {
//   @include make-row();
//   section {
//     @include make-lg-column(4);
//     @include make-md-column(4);
//     @include make-sm-column(4);
//     @include make-xs-column(4);
//     border: 1px solid #000;
//     height: 16.666vw;
//   }
// }
// ​
// @media (max-width: 992px) {
//   .container {
//     width: 90%;
//     margin: auto 5%;
//     & section {
//       height: 30vw;
//     }
//   }
// }

  &:hover {
    background: $board-hover-blue;
  }
}
