// theme file

body {
  background-color: $paper-white;
  color: $carbon;
  margin: 5%;
  padding: 5%;
}

// $quote-background-color: shade($plain-grey, 50%);
//
// .quote {
//   background-color: $quote-background-color; // gray
//   font-size: 30px;
// }
